// Css personalizado


    /* Inicio do css icone do menu hamburguer */
    .barras {
        display: inline-block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .barras .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        //background-color: #ddd;
    }

    .change .barras .bar2 {
        opacity: 0;
    }

    .change .barras .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        //background-color: #ddd;
    }

    /* Fim do css do icone do menu hamburguer */

@font-face{
    font-family:"Andika New Basic";
    src: url(../fonts/AndikaNewBasic-R.ttf) format("truetype");
}

@font-face{
    font-family:"Antic Didone";
    src: url(../fonts/AnticDidone-Regular.otf) format("opentype");
}

@font-face{
    font-family:"Old London";
    src: url(../fonts/OldLondon.ttf) format("truetype");
}


@media (max-width: 1199px) {
    .border-lg-bottom{
        border-bottom: 2px solid #dee2e6 !important;
    }
}

@media (min-width: 1200px) {
    .border-xl-right{
        border-right: 2px solid #dee2e6 !important;
    }
}

.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
}

@media (max-width: 767px){
.imgc-size{
    margin-left: auto !important;
    margin-right: auto !important;
    width:100% !important;
    height:370px !important;
}
}
.bg-home{
    background-image: url(../img/bg/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.text-black {
    color: rgba(0, 0, 0, 1) !important; 
}

.iconInfo{
    position: absolute !important;
    right: 7px !important;
}

.alink{
    text-decoration: none !important;
    color: white !important;
}
.alink:hover{
    text-decoration: none !important;
    color: rgba(255, 255, 255, .6) !important;
}

.wt-geral{
    width:94% !important;
}

.opaci-son:hover *{
    opacity: .5;
}

.opaci:hover{
    opacity: .5;
}


.muda{
    transition: all 0.8s;
}

.logo-wt{
    width: 120px;
    height:auto;
}

.book-pos{
    position:absolute;
    left: 50%;
    margin-left: -35px;
}

.book-wt{
    width:70px;
    height:auto;
}

.peaple-pos {
    position: absolute;
    left: 50%;
    margin-left: -2.5em; 
}
  
.peaple-wt {
    width: 5em;
    height: 5em; 
}

.selo-pos{
    position:absolute;
    left: 50%;
    margin-left: -45px;
    top:40px;
}

.selo-wt{
    width: 90px;
    height:auto;
}

.login-wt{
    width:30px;
    height:auto;
}

.font-s-10{
    font-size: 1em;
}

.font-s-11{
    font-size: 1.1em;
}

.font-s-12{
    font-size: 1.2em;
}

.wtem-4{
    width:4em;
    height:auto;
}

.font-s-13{
    font-size: 1.3em;
}

.font-s-14{
    font-size: 1.4em;
}

.font-s-15{
    font-size: 1.5em;
}

.font-s-16{
    font-size: 1.6em;
}

.font-s-17{
    font-size: 1.7em;
}

.font-s-18{
    font-size: 1.8em;
}

.font-s-19{
    font-size: 1.9em;
}

.font-s-20{
    font-size: 2em;
}

.font-s-30{
    font-size: 3em;
}

.font-s-40{
    font-size: 4em;
}

@media (min-width: 721px){
    .lf{
        margin-left:70px;
    }

    .rg{
        margin-right:70px;
    }
}

@media (max-width: 720px){

    .wtem-md-2{
        width:2em;
        height:auto;
    }
    
    .font-s-md-10{
        font-size: 1em;
    }
    
    .font-s-md-11{
        font-size: 1.1em;
    }
    
    .font-s-md-12{
        font-size: 1.2em;
    }
    
    .font-s-md-13{
        font-size: 1.3em;
    }
    
    .font-s-md-14{
        font-size: 1.4em;
    }
    
    .font-s-md-15{
        font-size: 1.5em;
    }
    
    .font-s-md-16{
        font-size: 1.6em;
    }
    
    .font-s-md-17{
        font-size: 1.7em;
    }
    
    .font-s-md-18{
        font-size: 1.8em;
    }
    
    .font-s-md-19{
        font-size: 1.9em;
    }
    
    .font-s-md-20{
        font-size: 2em;
    }
    
    .font-s-md-30{
        font-size: 3em;
    }
    
    .font-s-md-40{
        font-size: 4em;
    }


}

.font-andika{
    font-family: "Andika New Basic",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !important;
}

.font-antic{
    font-family: "Antic Didone",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !important;
}

.font-london{
    font-family: "Old London",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !important;
}

/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
    width:10px;
    height: 10px;
    }
     
    /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
    ::-webkit-scrollbar-track {
    background:#333;
    }
     
    /* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
    ::-webkit-scrollbar-thumb {
    background: #f4b12f;
    }



// Criando nossa paleta
$color-red-1  : #5e2129;
$color-red-2  : #cc0000;
$color-blue-1 : #065180;
$color-blue-2 : #18485e;
$color-blue-3 : #1485cc;
$color-purple : #800080;
$color-green-1: #154d44;
$color-green-2: #239987;
$color-gold   : #f4b12f;

$color-dark-0 : #000000;
$color-dark-1 : #111111;
$color-dark-2 : #222222;
$color-dark-3 : #333333;
$color-dark-4 : #444444;

$color-light-1: #F3F3E9;

$theme-colors:(
    "color-red-1"  : $color-red-1,
    "color-red-2"  : $color-red-2,
    "color-blue-1" : $color-blue-1,
    "color-blue-2" : $color-blue-2,
    "color-blue-3" : $color-blue-3,
    "color-purple" : $color-purple,
    "color-green-1": $color-green-1,
    "color-green-2": $color-green-2,
    "color-gold"   : $color-gold,
    "color-dark-1" : $color-dark-1,
    "color-dark-2" : $color-dark-2,
    "color-dark-3" : $color-dark-3,
    "color-dark-4" : $color-dark-4,
    "color-light-1": $color-light-1
);

.navbar{
    border-top: 3px solid $color-red-2;
}

// Classes personalizadas
$body-bg: $color-dark-1;
//$link-color: alguma cor;
//$carousel-caption-color : #cc0000;
$navbar-dark-color      : rgba(255, 255, 255, 1);
$navbar-dark-hover-color: rgba(255, 255, 255, .6);
$font-family-sans-serif : "Andika New Basic",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

// Importando o bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.dropdown-item:hover{
    background-color:#222222;
    color: rgba(255, 255, 255, .6);
}

.dropdown-item{
    background-color:#222222;
    color: rgba(255, 255, 255, 1);
}

.arrow::before{
    border-top-color: white !important;
}

.tooltip-inner{
    color: black;
    background-color: white !important;
    opacity:1;
}

.recuo{
    text-indent:10px;
}

// Switch css


.light{
    --bg : var(--color-light-1);
    --text: black;
    --fill: black;
    --fill-hover: rgba(0,0,0,.7);
    --border-fill: black;
    --bg-cap: var(--color-red-2);
    --border-cap: var(--color-red-1);
}

.dark{
    --bg : var(--color-dark-1);
    --text: white;
    --fill: white;
    --fill-hover: rgba(255,255,255,.7);
    --border-fill: white;
    --bg-cap: var(--color-red-1);
    --border-cap: var(--color-red-2);
}

#contBg{
    background-color: var(--bg) !important;
    color: var(--text) !important;
}

.switch-icon{
    fill: var(--fill) !important;
}

.switch-icon:hover{
    fill: var(--fill-hover) !important;
}

.switch-border{
    border-color: var(--border-fill) !important;
}

.switch-cap{
    border-color: var(--border-cap) !important;
    background-color: var(--bg-cap) !important;
}

#dark, #light{

    cursor:pointer;

}

a[href="#top"]{
    padding:10px;
    position:fixed;
    top: 90%;
    right:1px;
    display:none;
    font-size: 30px;
}
a[href="#top"]:hover{
    text-decoration:none;
}